.navigation__list {
  display: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-list {
  display: none;
}

.header__menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
  .menu-button__svg {
    width: 40px;
    height: 40px;
    fill: var(--accent-color);
  }

  .mobile-menu {
    position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
background-color: var(--title-light-color);

opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;

&__container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
}

&__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  &__icon {
  width: 40px;
  height: 40px;
  fill: var(--accent-color);
}
}
    .nav-list__item:not(:last-child) {
      margin-bottom: 32px;
    }

    .nav-list__link {
      display: flex;
      font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-text-color);
    }


    .active-page {
        text-align: center;
        position: relative;
        color: var(--accent-color);
    }

    .mobile-contact {
      margin-top: 302px;
      margin-bottom: 64px;
    }
    .contact-list__link-tel {
      font-family: Roboto;
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
color: #2196F3;
    }

    .contact-list__link-mail {
      display: flex;
      font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: #757575;
margin-top: 32px;
    }

    .mobile-social__list {
      display: flex;
      }

    .mobile-social__link {
      display: flex;
      justify-content: space-between;
     font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

letter-spacing: 0.02em;
color: #2196F3;
}
.mobile-social__list-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-social__list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

@media screen and (min-width: 768px) {

  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

 
  .contact-list {
    display: block;
    margin-left: 84px;
        }

  .navigation {
    @include container;
  }
  .mobile-menu.is-open {
    display: none;
  }

  .header__menu-button {
    display: none;
  }

 
.navigation__list {
  
  @include container;
    display: flex;
    align-items: center;
    margin-left: 88px;
   }
   .navigation__list-item:not(:last-child) {
     margin-right: 50px;
   }

   .navigation__list-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    }
.navigation-list__item {
  position: fixed;
}

    .contact-list__svg {
      @include container;
      margin-right: 8px;
      fill: var(--secondary-text-color);
      transition: fill var(--transition-timing);

      &-envelope {
        width: 14px;
        height: 10px;
      }
      &-smartphone {
        width: 10px;
        height: 14px;
      }
    
    }
      .contact-list {
       display: block;
      }

      .contact-list__link {
      display: flex;
      font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    
    }
 
    .contact-list__item:not(:last-child) {
      margin-bottom: 10px;
    }
    .contact-list__item {
      justify-content: right;
    }

    .active-page {
      position: relative;
      color: var(--accent-color);
  
     &:after {
        position: absolute;
        bottom: 0px;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 4px;
    }
  }
  .header .active-page {
    padding-bottom: 31px;
  }
  
  
   
} 
}

@media screen and (min-width: 1200px) {

  .contact-list {
    display: flex;
    align-items: center;
  }
}