@mixin font($fs: 14px, $fw: 500, $lh: 1.14) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin container($dspl: flex, $al-it: center) {
  display: $dspl;
  align-items:  $al-it;
   }

@mixin transition($tp: color, $td: 250ms, $ttf: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $tp;
    transition-duration: $td;
    transition-timing-function: $ttf;
}

@mixin font ($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}